* {
  box-sizing: border-box;
}

/* Colonna 1 */
main {
  overflow: hidden;
}

#scroll {
  height: calc(65vh - 75px);
}
#navmenu {
  height: 30vh;
  overflow-x: hidden;
}

/* Colonna 3 */
.bi {
  cursor: pointer;
}

.amico img {
  border-radius: 320px;
  width: 60px;
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.container svg {
  display: flex;
  float: left;
}

/*ANIMAZIONE IMG USER*/
@keyframes pulse {
  0% {
    transform: scale(0.9);
    filter: blur(0px);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    filter: blur(0px);
    opacity: 0.7;
  }
}

.pulse-icon {
  transition: transform 0.3s ease-in-out;
}

.pulse-icon:hover {
  animation: pulse 2s infinite ease-in-out;
}

.spotify-link {
  color: #f1f1f1; /* Colore verde di Spotify */
  text-decoration: none; /* Rimuove il sottolineato */
}

.spotify-link:hover .link-content {
  background-color: rgba(
    37,
    37,
    37,
    0.1
  ); /* Sfondo leggermente più chiaro al passaggio del mouse */
}

.link-content {
  display: flex;
  align-items: center;
}

.link-content span {
  font-size: 18px;
}

.link-content i {
  font-size: 24px;
  margin-right: 10px;
}
