.cardContainer:hover {
  background-color: black;
}

/*ANIMAZIONE ICONE PLAYLIST*/

.bi {
  transition: opacity 0.3s ease;
}

.bi:hover {
  opacity: 0.7;
}

/*ANIMAZIONE PLAYLIST*/

.playlist {
  transition: transform 0.2s ease, box-shadow 0.4s ease-in-out;
}

.playlist-container img {
  border-radius: 4px;
}

.playlist:hover {
  transform: scale(1.05);
  box-shadow: 10px 4px 0px rgba(0, 0, 0, 0.1);
}

/*BARRA SCORRIMENTO PLAYLIST*/
#scroll::-webkit-scrollbar {
  width: 10px;
}

#scroll::-webkit-scrollbar-track {
  background: black;
}

#scroll::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

#scroll::-webkit-scrollbar-thumb:hover {
  background: #161616;
}

/* Stile per la barra di scorrimento orizzontale */
#scroll::-webkit-scrollbar-horizontal {
  height: 10px;
}

#scroll::-webkit-scrollbar-thumb:horizontal {
  background: #888;
}

#scroll::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555;
}

/* inzio abba commit */

/* inizio campo inerente alle info player */

.search-result-item {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.search-result-item img {
  display: block;
  border-radius: 4px;
}

.icon-play-overlay {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(50%, -50%);
  font-size: 24px;
  color: white;
  display: none;
  z-index: 10;
}

.search-result-item:hover .icon-play-overlay {
  display: block; /* Mostra l'icona quando il mouse è sopra  */
}

.search-result-item:hover img {
  opacity: 0.7;
}

/* finish campo inerente alle info player */

/*start campo di input */
#searchArea {
  display: none; /* Nasconde il box di ricerca */
}
/*end campo di input */

/* indietro avanti */
.icon-nav {
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 5px;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#indietro {
  margin-right: 10px;
}

/* indietro avanti */

.search-box {
  background-color: #343a40;
  border-radius: 50px;
  padding: 7px 12px;
  width: 47%;
}

.search-icon {
  color: #ffffff;
  margin-right: 10px;
}

.search-input {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
}

.search-input::placeholder {
  color: gray;
}

.search-input:focus {
  box-shadow: none;
  background-color: transparent;
  color: white;
}

/* fine abba commit */
#centro {
  height: calc(100vh - 75px);
}

/* inizio scroll  centro */

#centro::-webkit-scrollbar {
  width: 10px;
}

#centro::-webkit-scrollbar-track {
  background: black;
}

#centro::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

#centro::-webkit-scrollbar-thumb:hover {
  background: #161616;
}

/* Stile per la barra di scorrimento orizzontale */
#centro::-webkit-scrollbar-horizontal {
  height: 10px;
}

#centro::-webkit-scrollbar-thumb:horizontal {
  background: #888;
}

#centro::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555;
}

/* FINE centro scroll*/
.play-button {
  padding: 5px 30px;
  background-color: #0ec20e;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 1em;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
}
.play-button:hover {
  background-color: #0db00d85;
}
.play-button:active {
  background-color: #0ec20e;
  box-shadow: 0 2px #666;
}
.save-button {
  margin-left: 15px;
  padding: 5px 40px;
  background-color: #303030;
  border: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 1em;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
}
.save-button:hover {
  background-color: #222222c7;
}
.save-button:active {
  background-color: #0ec20e;
  box-shadow: 0 2px #666;
}
.---button {
  margin-left: 15px;
  padding: -1px 3px;
  background-color: #303030;
  border: none;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 1em;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
}
.---button:hover {
  background-color: #222222c7;
}
.---button:active {
  background-color: #0ec20e;
  box-shadow: 0 2px #666;
}

/* start fix svg */
/* Stile di base dell'SVG */
.Svg-sc-ytk21e-0.dYnaPI {
  cursor: pointer;
}

/* Classe per lo stato di default (bianco) */
.svg-default {
  fill: #ffffff;
}

/* Classe per lo stato hover (grigio) */
.Svg-sc-ytk21e-0.dYnaPI:hover {
  fill: #aaaaaa;
}

/* Classe per lo stato attivo (verde) */
.svg-active {
  fill: #00ff00;
}

/* Scroll DESTRO */
#destra {
  height: calc(100vh - 75px);
}

#destra::-webkit-scrollbar {
  width: 10px;
}

#destra::-webkit-scrollbar-track {
  background: black;
}

#destra::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

#destra::-webkit-scrollbar-thumb:hover {
  background: #161616;
}

#destra::-webkit-scrollbar-horizontal {
  height: 10px;
}

#destra::-webkit-scrollbar-thumb:horizontal {
  background: #888;
}

#destra::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555;
}

.vfd {
  background-size: cover;
}

.j {
  font-weight: 900;
}

/* barra invisibile */
#martucci::-webkit-scrollbar {
  width: 5px;
}

#martucci::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

#martucci::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

#martucci::-webkit-scrollbar-thumb:hover {
  background: #161616;
}
